.Modal {
    position: absolute;
    top: 50%;
    left: 50%;
    right: 50%;
    bottom: 50%;
    background-color: #ffffff;
    border-radius: 6px;
    border: 1px solid #33D69F;
    box-sizing: border-box;
  }

  .Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #333333;
    opacity: 0.75;
  }

  .modalcontainer {
      display: flex;
      flex-wrap: wrap; 
      justify-content: flex-start, space-between;
  }

  .modalprops {
      border-bottom: #C4C4C4, 2px, solid;
  }

  .btn-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start, space-between;
  }

  .delete {
    color: #E72E2A;
    border-radius: 4px; 
    border: solid, #E72E2A, 2px;
    box-sizing: border-box;
  }

  .close {
    color: #00A1E2;
    border-radius: 4px; 
    border: solid, #00A1E2, 2px;
    box-sizing: border-box;
  }