
.homepage h1 {
    margin-top: 122px;
  }
  
  .homepage h2 {
    margin-top: 22px;
  }
  
  .homepage-container {
    width: 100%;
    max-width: 600px;
    text-align: center;
    margin:auto;
  }
  
  .homepage-button-container {
    margin-top: 82px; 
    display: flex;
    justify-content: space-between;
  }

  .thank-you-container {
    width: 100%;
    max-width: 500px;
  
    margin: 43px auto;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    text-align: center;
  }
  
  .success-container {
    background-color: var(--success);
    color: var(--white);
    border-radius: 4px 4px 0 0;
  
    padding: 50px 0 90px 0;
  }
  
  .contact-you-container {
    background-color: var(--white);
    border: 1px solid var(--success);
  
    padding: 45px 89px;
  }

  .container-form h1, .container-form h2 {
    margin: 16px 0 0 0;
  }
  
  .container-form button {
    margin: 34px auto 0 auto;
  }
  