/*--------------Importing the Roboto Font--------------*/

@font-face {
  font-family: Roboto;
  src: url(Roboto-Regular.ttf);
  font-weight: normal;
}


/*--------------CSS Variables--------------*/

:root {
  /*Fonts*/
  --font: Roboto, sans-serif;
  
  /*Font sizes*/
  --small-text: 12px;
  --base-text: 16px;

  /*Colors*/
  --primary: #6F52ED;
  --dark-primary: #452CAE;
  --background: #E5E5E5;
  --secondary: #A6ACBE;
  --base: #333333;
  --light: #F8F8FB;
  --white: #FFFFFF;
  --success: #33D69F;
  --error: #FB3939;
  
}

/*--------------Main styles--------------*/
body {
  background-color: var(--background);
  font-family: var(--font);
  color: var(--base);
}

header{
  height: 100px;
  border-bottom: 2px solid var(--secondary);
  background-color: var(--white);
}

.header-flex-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  
}

.logo{
  height: 100%;
  width: 115px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--primary);
  color : var(--white);
  font-size: 48px;
  border-radius: 0;

  text-align: center;
  font-weight: bold;

  cursor: pointer;
}


.homepage h1 {
  margin-top: 122px;
}

.homepage h2 {
  margin-top: 22px;
}

.homepage-container {
  width: 100%;
  max-width: 600px;
  text-align: center;
  margin:auto;
}

.homepage-button-container {
  margin-top: 82px; 
  display: flex;
  justify-content: space-between;
}

.small-buttons-container{
  display: flex;
  align-items: center;
  margin-right: 30px ;
}

.link{
  color : var(--primary);
  text-decoration: none;
  text-align: center;
  margin-right: 10px;
}

h1 {
  font-size: 36px;
  line-height: 42px;
  text-align: center;
}

h2 {
  font-size: 24px;
  line-height: 28px;
  text-align: center;
}

h3 {
  font-size: 20px;
  line-height: 23px;
  text-align: center;
}

.base-text, p {
  font-size: var(--base-text);
  line-height: 19px;
}

.small-text {
  font-size: var(--small-text);
  line-height: 14px;
}

label {
  display: block;
  margin: 16px 0 10px 0;
}

input, textarea {
  width: 340px;
  height: 48px;

  padding: 14px;
  
  background: var(--white);
  border: 1px solid var(--secondary);
  box-sizing: border-box;
  border-radius: 4px;

  color: var(--primary);
  font-size: var(--base-text);
}

::placeholder {
  color: var(--primary);
}

input:focus, textarea:focus {
  outline: none;
}

textarea {
  height: 123px;
  resize: none;
}

a, button {
  height: 48px;
  width: 86px;

  font-size: var(--base-text);
  border-radius: 4px;

  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.big-button {
  width: 280px;

  color: var(--white);
  background-color: var(--primary);

  cursor: pointer;
}

.small-button {
  box-sizing: border-box;
  
  border: 2px solid var(--primary);
  background-color: var(--white);
  color: var(--primary);
}

.small-button:hover, .small-button:focus {
  filter: brightness(90%);
}

.big-button:hover, .big-button:focus {
  background-color: var(--dark-primary);
}

/*----------------------------------------*/
/*--------------Other styles--------------*/
/*----------------------------------------*/

.container-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 52px 0 98px 0; 
}

form {
  margin-top: 42px;
}

.container-form h1, .container-form h2 {
  margin: 16px 0 0 0;
}

.container-form button {
  margin: 34px auto 0 auto;
}

input[type="date"]::-webkit-inner-spin-button {
  opacity: 0
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: url(https://cdn3.iconfinder.com/data/icons/linecons-free-vector-icons-pack/32/calendar-16.png) center/80% no-repeat;
  color: rgba(0, 0, 0, 0);
  opacity: 0.5
}

input[type=date] {
  -moz-appearance: textfield;
}

.margin-auto {
  margin: auto;
}

.thank-you-container {
  width: 100%;
  max-width: 500px;

  margin: 43px auto;

  display: flex;
  flex-direction: column;
  justify-content: center;

  text-align: center;
}

.success-container {
  background-color: var(--success);
  color: var(--white);
  border-radius: 4px 4px 0 0;

  padding: 50px 0 90px 0;
}

.contact-you-container {
  background-color: var(--white);
  border: 1px solid var(--success);

  padding: 45px 89px;
}

/*-----------------------------------------*/
/*--------------Media queries--------------*/
/*-----------------------------------------*/

/*------------For mobile devices------------*/
@media screen and (max-width: 767px) {

  .homepage h1 {
    margin-top: 90px;
  }

  .homepage-button-container {
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }

 
  a {

    margin-top: 10px;
  }

  .logo {
    margin-top: 0;
  }

  input, textarea {
    width: 100%;
    max-width: 300px;
  }

  .thank-you-container {
    max-width: 300px;
  }

  .success-container {
    padding: 15px;
  }

  .contact-you-container {
    padding: 30px 0;
  }

  .contact-you-container p {
    padding: 0 15px;
  }
}

/*------------For tablets------------*/
@media screen and (max-width: 991px) {
  .success-container {
    padding: 20px 0;
  }

  .contact-you-container {
    padding: 20px 20px;
  }
}